* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.price-container {
    width: 30%;
    /* justify-content: space-around; */
    align-items: center;
}
.header-container {
    align-items: center;
}